<div class="container">
  <div class="row">
     <div class="col-xs-3">
        <%= render 'books/list', {book: @book, user: @user} %>
     </div>
     <div class="col-xs-9">

          <h2>Book</h2>
            <% @books.each do |book| %>
                   
                    <table>
                      <thead>
                        <tr>
                          <th></th>
                          <th>Title</th>
                          <th>Opinion</th>
                        </tr>
                      </thead>
                      
                      <tbody>
                        <tr>
                           <td><%= link_to user_path(book.user_id) do %>
                            <%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb" %></td> 
                            <% end %>
                             <td><%= link_to book_path(book) do %>
                              <i class="fa fa-map-marker"></i><%= book.title %></td> 
                             <% end %>
                            </h3>
                            <h3 class="block-body">
                             <td><%= book.body %></td>
                        </tr>
                      </tbody>

          
            <% end %>

    </div>
  </div>
</div>